/* Common CSS Start */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600;700;800;900&display=swap');

.App {
  text-align: center;
  font-family: 'Bitter', serif !important;
}

/* Common CSS End */

/* Join Page CSS Start */
.outerContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinInnerContainer {
  width: 500px;
  height: 315px;
  padding: 10px 0;
  border: 3px solid #eee;
  border-radius: 25px;
  box-shadow: 0 2px 10px #aaa;
}

.title {
  font-size: 2.5em;
  font-weight: 900;
}

.joinUnderline {
  width: 50%;
  height: 1px;
  background-color: rgb(80, 79, 79);
  margin: -18px auto 20px;
  border-radius: 100px;
}

.formContainer {
  padding: 10px 15px;
}

.joinInputField {
  padding: 10px;
  margin: 10px 0;
  width: 70%;
  outline: 0;
  font-size: 1.1em;
  border: 0;
  border-radius: 8px;
}

.joinButton {
  margin-top: 15px;
  padding: 7px 24px;
  font-weight: 800;
  font-size: 1em;
  color: #282c34;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

/* Join Page CSS End */

/* Chat Page CSS Start */
.chatInnerContainer {
  width: 600px;
  height: 400px;
  padding: 10px 0;
  border: 3px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 10px #aaa;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subHeader {
  display: flex;
  align-items: center;
}

.subTitle {
  font-size: 1.5em;
  font-weight: 900;
  text-align: left;
  margin: 2px 18px;
}

.activeIcon {
  background-color: green;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.leaveButton {
  margin: 0 18px;
  padding: 8px 15px;
  color: red;
  font-size: 0.9em;
  font-weight: 700;
  border: 0;
}

.leaveButton:hover {
  background-color: red;
  color: white;
}

.chatUnderline {
  border-bottom: 1px solid white;
  margin: 10px 0;
}

.chatDisplay {
  height: 72%;
}

.chatInputBox {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: 100%;
}

.chatInputField {
  padding: 10px;
  outline: 0;
  font-size: 1em;
  border: 0;
  border-radius: 10px 0 0 10px;
  margin: -3px;
  width: 85%;
  background-color: transparent;
  color: white;
}

.chatButton {
  padding: 4.5px 20px;
  font-weight: 800;
  font-size: 1.3em;
  background-color: transparent;
  color: white;
  border: 0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  margin: -3px;
}

.chatButton:hover {
  color: gold;
}

.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.userName {
  display: flex;
  align-items: center;
  color: #828282;
  letter-spacing: 0.3px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.messageBox {
  background: #F3F3F3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.backgroundDark {
  background-color: #aaa;
}

.backgroundLight {
  background-color: #eee;
}

/* Chat Page CSS End */